<!DOCTYPE>
<html>
    <head>
        <title>Jenna Agres</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
                <h1><a href="/">Jenna Agres</a></h1>
                <nav>
                    <ul>
                        <li>About</li>
                        <li><a href="/projects/edit">[Admin]</a></li>
                    </ul>
                </nav>
            </header>