<% include ./partials/header %>

<h1>New Project</h1>
<form action="/projects" method="POST" enctype="multipart/form-data">
    <input type="text" name="project[title]" placeholder="Title">
    <input type="file" name="thumb">
    <textarea name="project[desc]" placeholder="Description"></textarea>
    <input type="file" multiple name="images">
    <input type="text" name="project[categories]" placeholder="Categories">
    <input type="submit">
</form>

<% include ./partials/footer %>